*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
  font-family: sans-serif;

}

.container {
  margin-top: 10px;
  margin: 0 auto;
  width: 90%;
}

div {
  background-color: #cccccc;
  float: left;
  margin: 1% 0;
  width: 100%

}

nav {
  margin: 0 auto;
  padding: 10px 0px 15px 15px;
  width: 420px;
  background-color: #f9f7f7;
  position: fixed;
}

h1{
  font-size: 1.8em;
  font-weight: 500px;
}

.preview.baku {
  background-image: url("/css-exercise-four/images/baku.jpg");
}


@media screen and (min-width: 600px) {
  body {
    background-color: #333;
    width: 100%;
  }

  h1 {
    font-size: 50px;

  }
}

/* Two column design*/
@media screen and (min-width: 991px) {
  div{
    margin: 1%;
    width: 48%;
  }
}

/*Four column design*/
@media screen and (min-width: 1199px) {
  div{
    margin: 1%;
    width: 12%;
  }
}
